/*declare font size for all*/
html {
	font-size: 18px;
	color: white;
}
body {
  font-family: sans-serif;
  line-height: 1.4rem;
}

h1,
h4 {
  font-weight: bold;
}

/*black background */
header {
       background-color: #000000 ;
     }

     header img {
       height: 1.5rem;
       margin: 0 1rem 0 0.5rem;
     }

     header .black-strip{
       display: flex;
       align-items: center;
     }

     header h2 {
       margin: 0.66rem 0;
     }
 /*making a class with max-width of 960 and centered  */
     .width960 {
       max-width: 960px;
       margin:  auto;
     }

     .mainbanner {
          background-image: url("../images/moto.jpeg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 26rem;
     }

/*container for 960 width and centered*/
     .mycontainer {
       max-width: 960px;
       margin: 0 auto;
}
.topheadline {
    background-color: black;
    color: white;
    width: 20rem;
    padding: 3rem 4rem;
    position: relative;
    top: 10rem;
    }
.topheadline h1 {
  font-size: 2rem;
  line-height: 2.0rem;
  margin: 0.25rem 0;
}
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  list-style: none;
}

.mobile {
  display: none;
}
.products,
.businessdata {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
/*display products by 30%*/
.product {
  width: 30%;
}

/*decorate the container of the image */
.product-image {
  border: 5px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8rem;
}

.productdescription {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
.blacktext {
  color: black;
}

footer {
    background-color: black;
    color: white;
    padding: 5em 0;
    margin-top: 4em;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}





@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15em;
  }

  .topheadline {
    width: 100%;
    padding: 1em 2em;
    top: 10em;
  }

  .topheadline h4 {
    font-size: .77rem;
  }

  .topheadline h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .products,
  .businessdata,
	 {
    flex-wrap: wrap;
  }

  .product {
		width: 100%;
    margin: auto;
  }

  .watch {
	display: none;
  }
  .info {
    width: 90%;
    margin: 0.5em auto;
  }
}


@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}





@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}




@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
